body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.blue-color{
    color: blue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}